/*@font-face{
    font-family:IranSansZ;
    font-weight:normal;
    font-style:normal;
    src:url("../font/iransansz-webfont.eot");
    src:url("../font/iransansz-webfont.eot?#iefix") format("embedded-opentype"),
    url("../font/iransansz-webfont.woff") format("woff"),
    url("../font/iransansz-webfont.ttf") format("truetype"),
    url("../font/iransansz-webfont.svg#IranSansZ") format("svg")
}*/

@font-face {
  font-family: 'hammihan-bold';
  src: url('../font/IranianSansWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: IranSansZ;
  src: url('../font/IranianSerifWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
