
@font-face {
    font-family: IranSansZ;
    src: url('../font/IranianSerifWeb-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body, td, pre {color:#000; font-family:IranSansZ, tahoma; font-size: 14px}
